function JuegoNave.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
call Nave.new 0
pop this 0
push constant 0
pop this 1
push constant 25
pop this 3
push this 3
call Array.new 1
pop this 2
push constant 0
pop this 4
push constant 0
pop this 5
push pointer 0
call JuegoNave.generateAliens 1
pop temp 0
push pointer 0
return
function JuegoNave.generateAliens 4
push argument 0
pop pointer 0
push constant 100
pop local 0
push constant 20
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push this 3
lt
not
if-goto WHILE_END0
push local 0
push local 1
call Alien.new 2
pop local 3
push local 2
push this 2
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 50
add
pop local 0
push local 2
push constant 1
add
pop local 2
push local 2
push constant 5
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE0
push local 2
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE1
push local 2
push constant 15
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE2
push local 2
push constant 20
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function JuegoNave.dispose 0
push argument 0
pop pointer 0
push this 0
call Nave.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function JuegoNave.moveAlien 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
call Alien.getX 1
push constant 450
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push local 1
push this 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Alien.changeDirection 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE0
push local 2
call Alien.getX 1
push constant 15
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP2
push local 1
push this 3
lt
not
if-goto WHILE_END2
push local 1
push this 2
add
pop pointer 1
push that 0
pop local 3
push local 3
call Alien.changeDirection 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE1
push local 2
call Alien.movement 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function JuegoNave.shootPathPlayer 0
push argument 0
pop pointer 0
push argument 1
call Shoot.getY 1
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push argument 1
call Shoot.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function JuegoNave.shootPathAlien 0
push argument 0
pop pointer 0
push argument 1
call Shoot.getY 1
push constant 243
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 5
push argument 1
call Shoot.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function JuegoNave.newShooter 0
push argument 0
pop pointer 0
push constant 25
call Random.randRange 1
push this 2
add
pop pointer 1
push that 0
return
function JuegoNave.run 5
push argument 0
pop pointer 0
push constant 0
call Random.setSeed 1
pop temp 0
push constant 0
pop local 1
push pointer 0
call JuegoNave.newShooter 1
pop local 4
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Nave.getShoot 1
pop local 2
push local 2
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 2
call JuegoNave.shootPathPlayer 2
pop temp 0
label IF_FALSE0
push this 5
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
call Alien.createShoot 1
pop temp 0
push constant 0
call Random.setSeed 1
pop temp 0
push pointer 0
call JuegoNave.newShooter 1
pop local 4
push constant 1
pop this 5
label IF_FALSE1
push this 5
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
call Alien.getShoot 1
pop local 3
push local 3
push constant 2
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 3
call JuegoNave.shootPathAlien 2
pop temp 0
label IF_FALSE2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call JuegoNave.moveAlien 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 1
label IF_FALSE3
push this 4
push constant 0
eq
push local 0
push constant 32
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
call Nave.createShoot 1
pop temp 0
push constant 1
pop this 4
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call JuegoNave.moveAlien 1
pop temp 0
push this 0
push local 0
call Nave.movement 2
pop temp 0
push this 4
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
call Nave.getShoot 1
pop local 2
push local 2
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 2
call JuegoNave.shootPathPlayer 2
pop temp 0
label IF_FALSE5
push this 5
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 4
call Alien.createShoot 1
pop temp 0
push constant 2
call Random.setSeed 1
pop temp 0
push pointer 0
call JuegoNave.newShooter 1
pop local 4
push constant 1
pop this 5
label IF_FALSE6
push this 5
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 4
call Alien.getShoot 1
pop local 3
push local 3
push constant 2
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 3
call JuegoNave.shootPathAlien 2
pop temp 0
label IF_FALSE7
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
