function Main.main 1
call JuegoNave.new 0
pop local 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 0
call JuegoNave.run 1
pop temp 0
push local 0
call JuegoNave.dispose 1
pop temp 0
push constant 0
return
