function Nave.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 230
pop this 0
push constant 230
pop this 1
push constant 10
pop this 2
push constant 40
pop this 3
push pointer 0
call Nave.draw 1
pop temp 0
push pointer 0
return
function Nave.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Nave.draw 0
push argument 0
pop pointer 0
push pointer 0
call Nave.erase 1
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 10
sub
push this 0
push constant 30
add
push this 1
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 5
add
push this 1
push constant 5
sub
push this 0
push constant 45
add
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 3
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Nave.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 10
sub
push this 0
push constant 30
add
push this 1
push constant 5
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 5
add
push this 1
push constant 5
sub
push this 0
push constant 45
add
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 3
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Nave.movement 0
push argument 0
pop pointer 0
push argument 1
push constant 132
eq
push this 0
push this 2
add
push constant 470
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Nave.erase 1
pop temp 0
push this 0
push constant 10
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Nave.draw 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 130
eq
push this 0
push constant 1
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Nave.erase 1
pop temp 0
push this 0
push constant 10
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Nave.draw 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Nave.createShoot 1
push argument 0
pop pointer 0
push this 2
push this 3
add
push constant 2
call Math.divide 2
pop local 0
push this 0
push local 0
add
push this 1
push constant 15
sub
call Shoot.new 2
pop this 4
push constant 0
return
function Nave.getShoot 0
push argument 0
pop pointer 0
push this 4
return
