function Node.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Node.dispose 0
push argument 0
pop pointer 0
push this 0
call Alien.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Node.getAlien 0
push argument 0
pop pointer 0
push this 0
return
function Node.getIndex 0
push argument 0
pop pointer 0
push this 0
call Alien.getIndex 1
return
function Node.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Node.getNext 0
push argument 0
pop pointer 0
push this 1
return
